.weather-app {
  padding: 25px;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 3px;
}

.container {
  padding-top: 20px;
  max-width: 600px;
  min-width: 580px;
  margin: 0 auto;
}

.submitButton {
  background-color: #ff7f50;
}

.submitButton:hover {
  background-color: #fc723f;
  color: #fff;
  transition: 0.3s ease-in-out;
}

h1 {
  font-size: 35px;
  margin-top: 7px;
  margin-bottom: 0;
}

p {
  line-height: 15px;
}

.header {
  padding-bottom: 5px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.current {
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}

.current-temp {
  font-size: 55px;
  font-weight: 400;
  line-height: 70px;
  margin-left: 0;
}
.maxMin {
  display: block;
  position: relative;
  width: 100px;
  top: 69px;
  left: -66px;
  font-size: 14px;
  color: rgb(92, 92, 92);
}

.max-temp {
  font-weight: 400;
  padding-right: 2px;
}

.min-temp {
  font-weight: 300;
}

.icon {
  margin-left: 0;
  padding-left: 0;
  position: relative;
  top: -13px;
}

.units {
  display: block;
  position: relative;
  top: -55px;
  right: -68px;
}

.active {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  cursor: default;
}

.active:hover {
  color: #000;
}

.inactive {
  color: #ff7f50;
}

.inactive:hover {
  color: #d14512;
  transition: 0.17s ease-in-out;
}

.additional-weather {
  line-height: 25px;
}

small a {
  color: #ff7f50;
}

small a:hover {
  color: #d14512;
  transition: 0.2s ease-in-out;
}
