.weather-app {
  padding: 25px;
  padding-bottom: 3px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgb(170, 170, 170);
  margin-bottom: 10px;
}

.container {
  padding-top: 30px;
  max-width: 650px;
  min-width: 600px;
  margin: 0 auto;
}

.submitButton {
  background-color: #ff7f50;
}

.submitButton:hover {
  background-color: #fc723f;
  color: #fff;
  transition: 0.3s ease-in-out;
}

h1 {
  font-size: 35px;
  margin-top: 7px;
  margin-bottom: 5px;
  padding-top: 5px;
}

p {
  line-height: 20px;
}

.header {
  padding-top: 4px;
  padding-bottom: 20px;
  color: rgb(92, 92, 92);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.current {
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
}

.current-temp {
  font-size: 55px;
  font-weight: 400;
  line-height: 70px;
  margin-left: 4px;
  margin-bottom: 0;
}

.d-flex {
  margin-bottom: 0;
  padding-bottom: 0;
}

.maxMin {
  font-size: 14px;
  color: rgb(92, 92, 92);
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  position: relative;
  top: -30px;
  left: -5px;
}

.max-temp {
  font-weight: 400;
  padding-right: 2px;
  color: rgb(88, 88, 88);
}

.min-temp {
  font-weight: 300;
}

.icon {
  margin-left: 0;
  padding-left: 0;
  position: relative;
  top: -13px;
}

.units {
  position: relative;
  top: -28px;
}

.active {
  text-decoration: none;
  font-weight: 500;
  color: #000;
  cursor: default;
}

.active:hover {
  color: #000;
}

.inactive {
  color: #ff7f50;
}

.inactive:hover {
  color: #d14512;
  transition: 0.17s ease-in-out;
}

.additional-weather {
  padding: 4px;
  line-height: 25px;
}

.day-forecast {
  line-height: 10px;
  font-size: 17px;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  top: 5px;
}

.icon-forecast {
  width: 75px;
  padding: 0;
  margin: 0 auto;
}

.temperature-forecast {
  padding-top: 0;
  margin-top: 0;
  font-size: 13px;
  position: relative;
  top: -10px;
}

small a {
  color: #ff7f50;
}

small a:hover {
  color: #d14512;
  transition: 0.2s ease-in-out;
}

.dark {
  background-color: rgb(46, 46, 46);
  color: rgb(233, 233, 233);
}
.dark .weather-app {
  background-color: rgb(43, 43, 43);
  border: 1px solid rgb(33, 33, 33);
  box-shadow: 1px 1px 8px rgb(27, 27, 27);
}
.dark .input-group {
  border: rgb(152, 152, 152);
}
.dark .form-control {
  background-color: rgb(237, 237, 237);
}
.dark .submitButton {
  color: #fff;
  border: rgb(39, 39, 39);
}
.dark .submitButton:hover {
  color: #000;
  border: rgb(39, 39, 39);
}
.dark .current-location {
  background-color: rgb(74, 74, 74);
  border: rgb(39, 39, 39);
}
.dark .current-location:hover {
  background-color: rgb(94, 94, 94);
  border: rgb(39, 39, 39);
  transition: 0.3s ease-in-out;
}
.dark .temperature-forecast {
  color: rgb(214, 214, 214);
}
.dark .maxMin {
  color: rgb(214, 214, 214);
}
.dark .max-temp {
  color: rgb(200, 200, 200);
}
.dark .header {
  color: rgb(214, 214, 214);
}
.dark .active {
  color: rgb(214, 214, 214);
}
.dark .active:hover {
  color: rgb(214, 214, 214);
}
